#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#introContainer {
  font-size: larger;
  background-color: rgb(203, 212, 222);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 1px solid rgb(5, 32, 66);
}

h1
{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  letter-spacing: 2px;
}

.employeeCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 70%;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
}

.employeeList {
  flex-wrap: wrap;
  margin-top: 2rem;
  background-color: rgb(222, 222, 214);
  padding: 1rem;
  border-radius: 8px;
  border:1px solid rgb(34, 52, 9);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  
}

#footerContainer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  bottom: 0;
  width: 100%;
  height: auto;
}

#showHideButton {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
  background-color: #56cce4;
  border: 1px solid #37607b;
  border-radius: 4px;
  box-shadow: 0 4px #37607b;
}

#showHideButton:active {
  box-shadow: 0 2px #37607b;
  transform: translateY(2px);
}

.clickbtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px #388E3C;
}

.clickbtn:active {
  box-shadow: 0 2px #388E3C;
  transform: translateY(2px);
}


.resetBtn {
  margin-top: 1rem;
  margin-left: 1em;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #1d47a2;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px #1b103e;
}

.resetBtn:active {
  box-shadow: 0 2px #1b103e;
  transform: translateY(2px);
}

.deleteBtn {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px #d32f2f;
}

.deleteBtn:active {
  box-shadow: 0 2px #d32f2f;
  transform: translateY(2px);
}

#addEmpib
{
  padding: 0.5em;
  font-size: medium;
}

#addBtn
{
    margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #1c5359;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px #0e2b2e;
}

#addBtn:active
{
  box-shadow: 0 2px #0e2b2e;
  transform: translateY(2px);
}

#addBtn:disabled
{
  background-color: grey;
  cursor: not-allowed;
  box-shadow: none;
}